@import url('./spinner.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: lavender;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  width: 1128px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  background-color: #fff;
  transition: transform 250ms linear;
}

.gallery-item:hover {
  transform: scale(1.04);
}

p {
  margin: 0;
}

.info {
  display: flex;
  width: 360px;
  height: 48px;
  justify-content: space-evenly;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  align-items: center;
}

.info-span {
  line-height: 2;
}

.gallery-link {
  height: 152px;
}

.search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
  align-items: center;
  background-color: plum;
  height: 60px;
}

input {
  display: inline-block;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 700;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms linear;
}

button:hover {
  background-color: #6c8cff;
}
